<?php
  $databases['default']['default'] = array (
    'database' => '{{ devshop_service_db_name }}',
    'username' => '{{ devshop_service_db_user }}',
    'password' => '{{ devshop_service_db_password }}',
    'prefix' => '',
    'host' => '{{ devshop_service_db_host }}',
    'port' => '{{ devshop_service_db_port }}',
    'namespace' => 'Drupal\\mysql\\Driver\\Database\\mysql',
    'driver' => '{{ devshop_service_db_backend }}',
    'autoload' => 'core/modules/mysql/src/Driver/Database/mysql/',
);
