# You may alter it as needed.
[defaults]
stdout_callback  = yaml
force_color = True
interpreter_python = auto

roles_path = ./roles:./roles/contrib
collections_paths = ./roles/contrib

vars_plugins_enabled = host_group_vars,devshop.platform.service_vars

[vars_service_vars]
stage = inventory

[inventory]
enable_plugins = devshop_apps, ini, yaml

[connection]
pipelining =  True
